$color-black: black;
$color-gray: #7E7E82;
$color-white-gray:#F8F8F8;
$color-white: #FFFFFF;
$color-divider: #eaeaea;
$color-pink: #FF3E79;
$color-bullet: #DDDDDD;
$color-bullet_active: #B5B6BC;
$color_transparent: rgba(0, 0, 0, 0);
$color_whiteblue: #b8ffec;
$color_whitepink: #ffb8b8;
$color_whitegray: #f8f8f8;
$color_lightgray: #eaeaea;
$main_transition: 0.5s;
$width_tablet: 768px;
$width_pc: 1366px;
