




.burger-menu {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-white;
  display: flex;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 24px 24px 0;
}
.burger-menu__header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.burger-menu__left-side {
  display: flex;
  img {
    left: 80px;
    top: 18px;
    height: 54px;
    position: absolute;
  }
}
.burger-menu__content {
  display: flex;
  ul {
    overflow: hidden;
    li {
      padding-top: 32px;
      a {
        color: $color-black;
        transition: 0.5s;
        vertical-align: bottom;
        &::before {
          content: "";
          position: absolute;
          border-left: 8px solid #41f6d7;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          height: 32px;
          left: -8px;
          transform: translateY(-8px);
          transition: 0.5s;
        }
      }
      &:hover {
        a {
          color: $color-gray;
          &::before {
            left: -4px;
          }
        }
      }
    }
  }
}
.burger-menu__footer {
  margin-top: auto;
  display: block;
}
.burger-menu__footer__contacts {
  display: flex;
  li {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
.burger-menu__footer__email {
  margin-bottom: 12px;
  a {
    color: $color-black;
  }
}
.burger-menu__footer__number {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  a {
    color: $color-black;
  }
}
.burger-menu__footer__language {
  margin-bottom: 32px;
  display: flex;
  li {
    margin-right: 7px;
    button {
      color: $color-black;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &:first-of-type {
      button {
        color: $color-gray;
        transform: scale(1.1);
      }
    }
  }
}

.brand-block__title {
  background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
  font-size: 20px;
  font-weight: 300;
  color: $color-gray;
  padding: 16px 24px;
}
.brand-block__content {
  margin-top: 16px;
  margin-left: 24px;
}
.brand-block {
  &::after {
    content: '';
    position: fixed;
    width: 24px;
    height: 90px;
    background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    right: 0;
    top: 100px;
    z-index: 11;
  }
}
.brand-block__button {
  margin-top: 16px;
  display: none;
  transition: 0.5s;
  &:hover {
    color: $color-gray;
  }
}
.brand-block__button--text {
  padding-left: 9px;
}
.brands {
  transition: 0.5s;
}
.brands.opened {
  max-height: 100%;
}
.brands__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  padding: 0 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  width: 200px;
}
.brands__item__button {
  margin: 16px;
}
.swiper {
  .swiper-slide {
    width: auto;
    box-sizing: border-box;
  }
  .swiper-wrapper {
    list-style: none;
    margin: 0 0 48px;
    padding: 0;
  }
}
.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $color-bullet;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-bullet_active;
  }
}


@media screen and (min-width: 388px) {
  .brand-block {
    &::after {
      top: 75px;
    }
  }
}
@media screen and (min-width: 768px) {
  .brand-block {
    &::after {
      display: none;
    }
  }
  .brand-block__content {
    margin: 16px !important;
  }
  .brand-block__button {
    margin-top: 24px;
    margin-left: 16px;
    display: flex;
  }
  .brands {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 200px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .brands__item {
    margin-top: 16px;
  }

  .burger-menu {
    width: 320px;
  }

}

